 .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;}
  
/*banner style*/
.banner-name{
    font-size: 24px;
    font-weight: 500;
    align:align-left;
    color: rgba(14, 14, 14, 0.5);
 }
 .banneer-title{ 
    width: 622px;
    height: 221px;
    font-size: 56px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16;
 }

 .banner-profile0-pic{ 
width: 480px;
height: 330px;
 }
 .banner{ 
    width: 1280px;
    height: 560px;
    display: flex;
    flex-direction: row;
    padding: 80 100 80 100;
    justify-content:space-between;  
    border-radius: 24px;
    background: rgb(198, 228, 214);
    justify-content: center;
    gap: 64; 
    align-items: center; 
    margin: 80 0;  
}
 .banner-content{ 
    width: 622px;
    height: 325px;
    gap: 24;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 }
 .btn-primary{ 
     width: auto;
    border-radius: 5px;
    position: static;
     background-color: green;
    color: rgb(255, 255, 255);
    font-size: 14px;
     padding: 8px 20px;
    font-weight: 600;
    display: inline-block;
     
 }
 .vission-container{
    display: flex;
    gap: 24px;
 }
 .vission-description{
    padding: 33px;
 }
 .section-description{ 
    font-weight: 400;
    font-size: 16px;
 }
 .vission{ 
    width: 410px;
    height: 325px;
    padding: 32px;
    box-sizing: border-box;
border-radius: 16px;
justify-content:space-between;
margin: 30px 25px;
 }
 .vission-icon{ 
   position: absolute;
width: 40px;
height: 42px;
left: 12px;
top: 2px; 
 }
 .recent-news{ 
   display: flex;
   border-radius: 24px;
    background: rgb(255, 255, 255);
    width: 1280px;
    height: 400px;
    align-items: center;
    gap: 32;
    padding: 48px;
    
 }
 .image{ 
   margin: 20px;
 } 
 .footer-title{ 
   display: flex;
   justify-content: flex-start;
   width:1200px;
   height:48px;
   text-align: center;

 }
 .list-container{ list list-style-type: none;
display:flex;
gap :10px
}